<footer>
    <img id="techhub-logo" routerLink="" routerLinkActive="active" src="../../../assets/logo/logotipo.svg"
        alt="techhub_logo">
    <div class="options_footer">
        <a href="https://www.facebook.com/"><img src="../../../assets/icons/social-media/facebook.svg" alt=""></a>
        <a href=""><img src="../../../assets/icons/social-media/instagram.svg" alt=""></a>
        <a href=""><img src="../../../assets/icons/social-media/twitterx.svg" alt=""></a>
        <a class="options" href="#" title="GitHub"><img src="../../../assets/icons/social-media/github.svg" alt=""></a>
        <a class="options" href="#"><img src="../../../assets/icons/social-media/linkedin.svg" alt=""></a>
    </div>
    <div class="social">
        <a class="options" routerLink="/contact" routerLinkActive="active">
            <img src="../../../assets/icons/mail.svg" alt="">
            Contactanos
        </a>
    </div>
</footer>