<footer>
    <img id="blackfor-logo" routerLink="" routerLinkActive="active" src="../../../assets/logo/logotipo.svg"
        alt="blackfor_logo">
    <div class="options_footer">
        <a class="options" href="#">Services</a>
        <a class="options" href="#">Careers</a>
        <a class="options" routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/">F<img src="" alt=""></a>
        <a href="https://www.instagram.com/">I<img src="" alt=""></a>
    </div>
</footer>