<div id="background"></div>
<main class="main_container">
    <div class="container">
        <div routerLink="/noob" id="no_idea" class="clases_container">
            <h2>PRINCIPIANTE</h2>
            <p>No cuentas con conocimientos técnicos de computadoras.</p>
            <p>La guía no usará tecnisismos y utilizara un lenguaje mas coloquial.</p>
            <button routerLink="/noob" type="button" class="btn btn-lg btn-outline-primary">Ir al ensamblador</button>
        </div>
        <div id="pro" routerLink="/pro" class="clases_container">
            <h2>EXPERIMENTADO</h2>
            <p>Ya sabes sobre componentes necesarios, marcas y compatibildades.</p>
            <p>El ensamblador servirá mas como una guia y utilizará tecnisismos</p>
            <button type="button" routerLink="/pro" class="btn btn-lg btn-outline-primary">Ir al ensamblador</button>
        </div>
    </div>
</main>